//Seccion width
.w-100 {
    width: 100%;
}
.w-90 {
    width: 95%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

//Seccion height
.h-90 {
    height: 95%;
}

.h-80 {
    height: 80%;
}

.h-70 {
    height: 70%;
}

.h-60 {
    height: 60%;
}

.h-50 {
    height: 50%;
}

.h-40 {
    height: 40%;
}

.h-30 {
    height: 30%;
}

.h-20 {
    height: 20%;
}

.h-10 {
    height: 10%;
}

//Seccion margin
.m-90 {
    margin: 95%;
}

.m-80 {
    margin: 80%;
}

.m-70 {
    margin: 70%;
}

.m-60 {
    margin: 60%;
}

.m-50 {
    margin: 50%;
}

.m-40 {
    margin: 40%;
}

.m-30 {
    margin: 30%;
}

.m-20 {
    margin: 20%;
}

.m-10 {
    margin: 10%;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-auto {
    margin: auto;
}

.mt {
    margin-top: 0;
}

.mb {
    margin-bottom: 0;
}

.mr {
    margin-right: 0;
}

.ml {
    margin-left: 0;
}

.mt-90 {
    margin-top: 95%;
}

.mt-80 {
    margin-top: 80%;
}

.mt-70 {
    margin-top: 70%;
}

.mt-60 {
    margin-top: 60%;
}

.mt-50 {
    margin-top: 50%;
}

.mt-40 {
    margin-top: 40%;
}

.mt-30 {
    margin-top: 30%;
}

.mt-20 {
    margin-top: 20%;
}

.mt-10 {
    margin-top: 10%;
}

.mb-90 {
    margin-bottom: 95%;
}

.mb-80 {
    margin-bottom: 80%;
}

.mb-70 {
    margin-bottom: 70%;
}

.mb-60 {
    margin-bottom: 60%;
}

.mb-50 {
    margin-bottom: 50%;
}

.mb-40 {
    margin-bottom: 40%;
}

.mb-30 {
    margin-bottom: 30%;
}

.mb-20 {
    margin-bottom: 20%;
}

.mb-10 {
    margin-bottom: 10%;
}

.mr-90 {
    margin-right: 95%;
}

.mr-80 {
    margin-right: 80%;
}

.mr-70 {
    margin-right: 70%;
}

.mr-60 {
    margin-right: 60%;
}

.mr-50 {
    margin-right: 50%;
}

.mr-40 {
    margin-right: 40%;
}

.mr-30 {
    margin-right: 30%;
}

.mr-20 {
    margin-right: 20%;
}

.mr-10 {
    margin-right: 10%;
}

.ml-90 {
    margin-left: 95%;
}

.ml-80 {
    margin-left: 80%;
}

.ml-70 {
    margin-left: 70%;
}

.ml-60 {
    margin-left: 60%;
}

.ml-50 {
    margin-left: 50%;
}

.ml-40 {
    margin-left: 40%;
}

.ml-30 {
    margin-left: 30%;
}

.ml-20 {
    margin-left: 20%;
}

.ml-10 {
    margin-left: 10%;
}

//Seccion padding

.p-90 {
    padding: 95%;
}

.p-80 {
    padding: 80%;
}

.p-70 {
    padding: 70%;
}

.p-60 {
    padding: 60%;
}

.p-50 {
    padding: 50%;
}

.p-40 {
    padding: 40%;
}

.p-30 {
    padding: 30%;
}

.p-20 {
    padding: 20%;
}

.p-10 {
    padding: 10%;
}

.py-auto {
    padding-top: auto;
    padding-bottom: auto;
}

.px-auto {
    padding-left: auto;
    padding-right: auto;
}

.p-auto {
    padding: auto;
}

.pt {
    padding-top: 0;
}

.pb {
    padding-bottom: 0;
}

.pr {
    padding-right: 0;
}

.pl {
    padding-left: 0;
}

.pt-90 {
    padding-top: 95%;
}

.pt-80 {
    padding-top: 80%;
}

.pt-70 {
    padding-top: 70%;
}

.pt-60 {
    padding-top: 60%;
}

.pt-50 {
    padding-top: 50%;
}

.pt-40 {
    padding-top: 40%;
}

.pt-30 {
    padding-top: 30%;
}

.pt-20 {
    padding-top: 20%;
}

.pt-10 {
    padding-top: 10%;
}

.pb-90 {
    padding-bottom: 95%;
}

.pb-80 {
    padding-bottom: 80%;
}

.pb-70 {
    padding-bottom: 70%;
}

.pb-60 {
    padding-bottom: 60%;
}

.pb-50 {
    padding-bottom: 50%;
}

.pb-40 {
    padding-bottom: 40%;
}

.pb-30 {
    padding-bottom: 30%;
}

.pb-20 {
    padding-bottom: 20%;
}

.pb-10 {
    padding-bottom: 10%;
}

.pr-90 {
    padding-right: 95%;
}

.pr-80 {
    padding-right: 80%;
}

.pr-70 {
    padding-right: 70%;
}

.pr-60 {
    padding-right: 60%;
}

.pr-50 {
    padding-right: 50%;
}

.pr-40 {
    padding-right: 40%;
}

.pr-30 {
    padding-right: 30%;
}

.pr-20 {
    padding-right: 20%;
}

.pr-10 {
    padding-right: 10%;
}

.pl-90 {
    padding-left: 95%;
}

.pl-80 {
    padding-left: 80%;
}

.pl-70 {
    padding-left: 70%;
}

.pl-60 {
    padding-left: 60%;
}

.pl-50 {
    padding-left: 50%;
}

.pl-40 {
    padding-left: 40%;
}

.pl-30 {
    padding-left: 30%;
}

.pl-20 {
    padding-left: 20%;
}

.pl-10 {
    padding-left: 10%;
}

//Seccion displays
.grid {
    display: grid;
}

//Seccion columnas

.grid-col {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-cols-7 {
    grid-template-columns: repeat(7, 1fr);
}

.grid-cols-8 {
    grid-template-columns: repeat(8, 1fr);
}

.grid-cols-9 {
    grid-template-columns: repeat(9, 1fr);
}

.grid-cols-10 {
    grid-template-columns: repeat(10, 1fr);
}

.grid-70-30{
    grid-template-columns: 60% 1%;
}

//Seccion filas

.grid-row {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.grid-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}

.grid-rows-4 {
    grid-template-rows: repeat(4, 1fr);
}

.grid-rows-5 {
    grid-template-rows: repeat(5, 1fr);
}

.grid-rows-6 {
    grid-template-rows: repeat(6, 1fr);
}

.grid-gap-2 {
    gap: 3rem;
}

.grid-gap-3 {
    gap: 3rem;
}

.pa{
    background-color: aqua;
}
.cartas{
    background-color: red;
}

.info{
    background-color: green;
}

.productos{
    background-color: yellow;
}