@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap%22");

$primaryColor : black;
$secondaryColor : #517ad3;
$thirdColor : #000000;
$principalFont: 'DM Sans', sans-serif;
$fontSizePhone: 2.5em;
$fontSizeTitles: 3em;
$fontSizeSubTitles: 2em;
$fontSizeSubHeadLine: 1em;
$fontSizeText: 1em;