@import "variables";
@import "general";
@import "size";

// estilo de navegacion
@import "./nav/navBar";

// estilo de la pagina principal
@import "./home/home";

//estilo carta de la pagina principal
@import "./card/card";

//estilo del formulario de contacto
@import "./form/contactForm";

//estilo de la pagina de login
@import "./login/login";

//estilo de la pagina de pagos
@import "./payment/payment";

//Seccion contentido
.content-center {
    align-items: start;
    justify-items: center;
    align-self: center;
    justify-self: center;
}

.content-right {
    align-items: start;
    justify-items: center;
    align-self: center;
    justify-self: end;
}

.content-left {
    align-items: start;
    justify-items: center;
    align-self: center;
    justify-self: start;
}

//Seccion texto
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

//Seccion botones

.btn {
    background-color: #d81b60;
    color: white;
    border: none;
    border-radius: 0.4rem;
    border-color: green;

    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
        background-color: green;
    }
}

//Seccion color fondo

.bg-color {
    background-color: #d81b60;
}

//Seccion margin y padding input
.m-1{
    margin: 1rem;
}

.p-1{
    padding: 1rem;
}

//Seccion borde

.border-radius{
    border-radius: 2rem;
}

.border{
    border: 1px solid $primaryColor;
}
